@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');
:root {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
 
  
  --DarkBlueDarkModeElements: hsl(209, 23%, 22%);
  --DarkModeBackground: hsl(207, 26%, 17%);
  --VeryDarkBlueLightModeText: hsl(200, 15%, 8%);
  --DarkGrayLightModeInput: hsl(0, 0%, 52%);
  --LightModeBackground: hsl(0, 0%, 98%);
  --WhiteDarkModeTextLightModeElements: hsl(0, 0%, 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
li {
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  background: var(--LightModeBackground);
  transition: all 0.2s ease-in-out;
}
body.darkmode {
  background: var(--DarkModeBackground);
  color: var(--WhiteDarkModeTextLightModeElements);
  transition: all 0.2s ease-in-out;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.header {
  border-bottom: 1px solid hsl(0, 1%, 83%);
  transition: all 0.2s ease-in-out;
}
.header.darkmode {
  border-bottom: none;
  background: var(--DarkBlueDarkModeElements);
  transition: all 0.2s ease-in-out;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle-mode {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding-top: 2rem;
}
.pix {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.wrapper {
  height: 310px;
  display: flex;
  width: 270px;
  flex-direction: column;
  border-radius: 10px;
  background: var(--WhiteDarkModeTextLightModeElements);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: all 0.2s ease-in-out;
}
.wrapper.darkmode {
  background: var(--DarkBlueDarkModeElements);
  transition: all 0.2s ease-in-out;
}
.wrapper:hover {
  background: hsl(0, 1%, 70%, 0.2);
  animation: moveIn 0.5s ease-in-out;
}
.country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding-left: 1rem;
}
.flag {
  width: 100%;
  height: 160px;
}
.country-info {
  padding: 0;
  margin-top: -1rem;
}
h4 {
  margin-block: 5px;
  font-weight: 100;
}
span {
  font-weight: 700;
}
.lang {
  font-weight: 100;
}
a {
  text-decoration: none;
  color: inherit;
}
.picture {
  max-width: 40%;
}
.info-page {
  height: 80vh;
  display: flex;
  gap: 8rem;
  align-items: center;
  animation: zoom 0.5s ease-in-out;
}
.info-page__title {
  width: 50%;
}
.border {
  width: 160px;
}
.border-country {
  display: flex;
  align-items: center;
}
.border-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  gap: 1rem;
}
.border-list li {
  background: var(--WhiteDarkModeTextLightModeElements);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding-inline: 0.5rem;
  width: 50px;
  text-align: center;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.darkmode li {
  background: var(--DarkBlueDarkModeElements);
  transition: all 0.2s ease-in-out;
}
.info-list {
  display: flex;
}
.left-list {
  padding-left: 0;
  width: 300px;
}
.left-list li {
  background: transparent;
}
.right-list {
  width: 210px;
  margin-left: 3rem;
}
.right-list li {
  background: transparent;
  margin-left: -2rem;
}
.btn {
  display: inline-block;
  background: var(--WhiteDarkModeTextLightModeElements);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 0.3em 1.8em;
  margin-top: 2rem;
  border: 1px solid hsl(0, 1%, 83%);
  border-radius: 3px;
  color: var(--DarkGrayLightModeInput);
  transition: all 0.2s ease-in-out;
}
.btn.darkmode {
  background: var(--DarkModeBackground);
  box-shadow: rgba(11, 10, 16, 0.15) 0px 48px 100px 0px;
  border: 1px solid hsl(0, 6%, 7%);
  color: var(--WhiteDarkModeTextLightModeElements);
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  background: hsla(0, 1%, 70%, 0.2);
}
.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
.form-control {
  display: flex;
  align-items: center;
}
.input {
  padding: 0.5em 1em;
  background: var(--WhiteDarkModeTextLightModeElements);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: none;
  border-radius: 3px;
  width: 390px;
  color: var(--DarkGrayLightModeInput);
  transition: all 0.2s ease-in-out;
}
.input.darkmode {
  background: var(--DarkBlueDarkModeElements);
  color: var(--WhiteDarkModeTextLightModeElements);
  transition: all 0.2s ease-in-out;
}
.filter {
  padding: 0.7em 1em;
  margin-right: 0.5rem;
  background: var(--WhiteDarkModeTextLightModeElements);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 1px solid hsl(0, 1%, 83%);
  border-radius: 3px;
  width: 200px;
  border-radius: 5px;
  color: var(--DarkGrayLightModeInput);
  transition: all 0.2s ease-in-out;
}
.filter.darkmode {
  background: var(--DarkBlueDarkModeElements);
  border: none;
  color: var(--WhiteDarkModeTextLightModeElements);
  transition: all 0.2s ease-in-out;
}
.filter:focus, .input:focus {
  outline: none;
}
.search {
  background: var(--WhiteDarkModeTextLightModeElements);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 1px solid hsl(0, 1%, 83%);
  padding: 0.5em 1em;
  border-radius: 3px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.search.darkmode {
  background: var(--DarkBlueDarkModeElements);
  border: none;
  transition: all 0.2s ease-in-out;
}
.search-icon {
  margin-left: 1rem;
}
.error {
  color: red;
}
@keyframes zoom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveIn {
  0% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width:600px) {
  .container {
    width: 100%;
  }
  .grid {
    display: block;
    padding-inline: 3rem;
  }
  .wrapper {
    width: 300px;
    margin: 0rem auto 3rem auto ;
  }
  .pix {
    width: 100%;
  }
  .form {
    display: block;
  }
  .input {
    padding: 1em 1em;
  }
  .search {
    width: 85%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .filter {
    padding: 1.3em 1em;
    margin-left: 1.2rem;
  }
  select {
    width: 50% !important;
  }
  select option {
    width: 50% !important;
    margin-top: 3rem;
  }
  .heading {
    width: 90%;
    margin: auto;
  }
  .btn {
    margin-left: 1.5rem;
    padding: 0.5em 1.5em;
  }
  .picture {
    max-width: 90%;
    margin-top: 2rem;
  }
  .info-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .info-page__content {
    display: flex;
    flex-direction: column;
    margin: -5rem 0 0 -5rem;
    width: 350px;
  }
  .info-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .left-list {
    padding-left: 0;
    width: 100%;
  }
  .left-list li {
    margin-bottom: 0.5rem;
    font-size: large;
  }
  .right-list li {
    margin-bottom: 0.5rem;
    font-size: large;
  }
  .right-list {
    margin: 0 0 3rem 0;
    padding-left: 2rem;
    width: 100%;
  }
  .border-country {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 3rem -5rem;
    width: 350px;
  }
  .border-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem 0 0 0;
    gap: 1rem;
  }
  .border {
    font-size: large;
    margin-bottom: 2rem;
  }
  .error {
    color: red;
    margin-left: 1.5rem;
  }
}
@media (min-width: 600px) and (max-width: 950px) {
   h1 {
    font-size: 4rem;
  }
   h3 {
    font-size: 1.3rem;
  }
   .header-title {
    font-size: 1.8rem;
  }
  .toggle-mode {
    font-size: 1.8rem;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 4rem;
    gap: 2rem;
  } 
  .wrapper {
    width: 205px;
    min-height: 330px;
    margin: auto;
  }
  .heading {
    width: 95%;
    margin: auto;
  }
  .header {
    width: 90%;
    margin: auto;
  }
  .form {
    width: 90%;
    margin: auto;
  }
  .input {
    padding: 1em 1em;
  }
  .search {
    width: 33%;
    margin: 1rem 0 2rem 1rem;
    border-radius: 5px;
  }
  .filter {
    padding: 1.3em 1em;
    margin: 1rem 1rem 0 0;
    border-radius: 5px;
  }
  .btn {
    margin: 2rem 0 2rem 3rem;
    padding: 0.5em 2.8em;
    color: var(--DarkBlueDarkModeElements);
    font-size: 2rem;
  }
  .picture {
    max-width: 90%;
    margin-top: 2rem;
  }
  .info-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  }
  .info-page__content {
    display: flex;
    flex-direction: column;
    margin: -5rem 0 0 -11rem;
    width: 700px;
  }
  .info-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .left-list {
    padding-left: 0;
    width: 100%;
  }
  .left-list li {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }
  .right-list li {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
  }
  .right-list {
    margin: 5rem 0 5rem 0;
    padding-left: 2rem;
    width: 100%;
  }
  .border-country {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 3rem -11rem;
    width: 670px;
  }
  .border-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem 0 0 0;
    gap: 1rem;
  }
  .border-list li {
    padding: 0.8em 1.8em;
    width: 80px;
    font-size: 1.5rem;
    color: var(--VeryDarkBlueLightModeText);
  }
  .border-list.darkmode li {
    color: var(--WhiteDarkModeTextLightModeElements);
  }
  .border {
    margin: 0 0 2rem 0;
    font-size: 2.5rem;
    width: 300px;
  }
  .error {
    color: red;
    margin-left: 3rem;
  }
}
@media (min-width: 950px) and (max-width: 1200px) {
  .container {
    width: 1300px;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
    padding-inline: 4rem;
  }
  .heading {
    width: 90%;
    margin: auto;
  }
  .wrapper {
    width: 250px;
  }
  .header {
    width: 1200px;
  }
  .form {
    width: 90%;
    margin: auto;
  }
  .input {
    padding: 1em 1em;
  }
  .search {
    width: 33%;
    margin: 1rem 0 2rem 0;
    border-radius: 5px;
  }
  .filter {
    padding: 1.3em 1em;
    margin: 1rem 0 0 0;
    border-radius: 5px;
  }
   .btn {
    margin: 2rem 0 0 2rem;
  }
  .info-page {
    padding: 2rem;
    height: 400px;
  }
  .info-page__title {
    margin-left: -3rem;
    width: 53%;
  }
  .right-list {
    margin-left: -1rem;
    width: 300px;
  }
  .right-list li {
    margin: 0 0 0.1rem -2.7rem;
  }
}
